{% extends "base.html" %}

{% block title %}Add Employee{% endblock  %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit">Add Employee</button>
    </form>
{% endblock %}