<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Home{% endblock %} </title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <script>
        function logout(event) {
            event.preventDefault();
            document.getElementById('logout-form').submit();
        }
    </script>
</head>
<body>
    <!-- Navbar Start -->
    <nav>
        <menu>
            {% comment %} <li><a href="{% url 'index' %}">Home</a></li> {% endcomment %}
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'add_employee' %}">Add Employee</a></li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}?next={% url 'add_employee' %}">Add Employee</a>
                </li>
            {% endif %}
            
            {% if user.is_authenticated %}
                <li><p> {{ user.username }} </p></li>
                <li>
                    <a href="#" onclick="logout(event)" class="logout-link">Logout</a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </menu>
    </nav>
    <!-- Navbar End -->

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>